/*基本設定*/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/*row基本設定*/
.row:after{
	content: "";
	clear: both;
	display: block;
}

/*col基本設定*/
[class*="col-"]{
	width: 100%;
	float: left;
}


body{
	background-color: #F1F1F1;
}

.sign{
    width: 7.5px;
    height: 22.5px;
    margin: 15px 15px;
    background: #96DCC7;
    float: left;
    position: relative;
}

.sign h2{
	color: #5C5C5C;
	font-size: 22.5px;
	font-family: calibri;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	top: -2.25px;
	left: 15px;
	white-space: nowrap;
}

table{
	margin: 60px 30px 30px 30px;
}

td{
	color: #000000;
	font-size: 15px;
	font-family: 微軟正黑體;
	letter-spacing: 2px;
	padding: 5.25px 7.5px;

}

.container{
	width: 70%;
	margin: 0px auto;
	padding: 22.5px;
	background-color: #FFFFFF;
	overflow: auto;

}

.photo{
	width: 100%;
	overflow: auto;
}

.photo img{
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 15px;
}

.name{
	width: 100%;
	float: left;
	padding: 75px 22.5px;
}

h1{
	font-size: 24px;
	color: #5C5C5C;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	line-height: 48px;
	letter-spacing: 5px;
}

.na{
	font-size: 21px;
	color: #5C5C5C;
	font-family: calibri;
}

.information{
	width: 100%;
	float:left;
	overflow: auto;
}

.aboutme{
	width: 100%;
	float: left;
	overflow: auto; 
}

.ab{
	margin: 62.25px 71.25px 45px 62.25px;
}

.aboutme p{
	font-size: 15px;
	color: #000000;
	letter-spacing: 3px;
	font-family: 微軟正黑體;
}

.education{
	width: 100%;
	float: left;
	overflow: auto;
}

.ed{
	margin: 60px 37.5px;
}

h3{
	font-size: 16.5px;
	color: #000000;
	font-family: calibri;
	letter-spacing: 1px;
}

.ed p{
	font-size: 15px;
	color: #000000;
	letter-spacing: 5px;
	font-family: 微軟正黑體;
	font-weight: bolder;
}

.experience{
	width: 100%;
	float: left;
	overflow: auto;

}

.exleft{
	width: 3.75px;
	height: 225px;
	background-color: #96DCC7;
	position: relative;
	top: 60px;
	float: left; 
}

.excircle{
	width: 18.75px;
	height: 18.75px;
	background-color: #96DCC7;
	border-radius: 50%;
	position: absolute;
	left: -7.5px;
}

.excircle1{
	width: 18.75px;
	height: 18.75px;
	background-color: #96DCC7;
	border-radius: 50%;
	position: absolute;
	top: 112.5px;
	left: -7.5px;
}

.excircle2{
	width: 18.75px;
	height: 18.75px;
	background-color: #96DCC7;
	border-radius: 50%;
	position: absolute;
	top: 225px;
	left: -7.5px;
}

.exright{
	width: 71%;
	float: left;
	margin: 58.5px 0px 0px 22.5px; 
}

.exright p{
	font-size: 15px;
	color: #000000;
	letter-spacing: 5px;
	font-family: 微軟正黑體;
	font-weight: bolder;
	display: inline-block;
	vertical-align: bottom;
}

h5{
	font-size: 16.5px;
	color: #000000;
	font-family: calibri;
	letter-spacing: 1px;
	float: right;
	display: inline-block;
	vertical-align: bottom;
}

.word{
	width: 100%;
	height: 93.75px;
	font-size: 15px;
	color: #5C5C5C;
	letter-spacing: 1px;
	font-family: 微軟正黑體;
	font-weight: bolder;
	padding: 7.5px 0px 0px 0px;
}

.skills{
	width: 100%;
	float: left;
	margin-bottom: 22.5px;
	overflow: auto;
}

.skills td{
	color: #000000;
	font-size: 15px;
	font-family: 微軟正黑體;
	letter-spacing: 2px;
	padding: 0px 7.5px 18.75px 7.5px;

}

.box{
	width: 100%;
	height: 15px;
	background-color: #FFFFFF;
	border: 1px solid #96DCC7;
	margin: 0px 15px;
}

.box0{
	width: 50%;
	height: 9px;
	background-color: #96DCC7;
	margin: 2px 0px 2px 3px;
}

.box1{
	width: 70%;
	height: 9px;
	background-color: #96DCC7;
	margin: 2px 0px 2px 3px;
}

.box2{
	width: 90%;
	height: 9px;
	background-color: #96DCC7;
	margin: 2px 0px 2px 3px;
}

.box3{
	margin: 0px 20px;
}

.button{
	width: 60px;
	border-radius: 7.5px;
	background-color: #96DCC7;
	color: #FFFFFF;
	text-align: center;
	margin-left: 7.5px;
	display: inline-block;
}

.achievement img{
	width: 50%;
	display: block;
	margin: auto;
	opacity: 0.5;
}

.achievement img:hover{
	animation-play-state: paused;
	opacity: 1;
}

.portfolio img{
	width: 50%;
	display: block;
	margin: auto;
	opacity: 0.5;
}

.portfolio img:hover{
	animation-play-state: paused;
	opacity: 1;
}

.others img{
	width: 50%;
	display: block;
	margin: auto;
	opacity: 0.5;
}

.others img:hover{
	animation-play-state: paused;
	opacity: 1;
}


footer{
	width: 100%;
	height: 200px;
}

@media screen and (min-width: 800px){
	.col-md-1{
		width: calc(100% * 1 / 12);
	}
	.col-md-2{
		width: calc(100% * 2 / 12);
	}
	.col-md-3{
		width: calc(100% * 3 / 12);
	}
	.col-md-4{
		width: calc(100% * 4 / 12);
	}
	.col-md-5{
		width: calc(100% * 5 / 12);
	}
	.col-md-6{
		width: calc(100% * 6 / 12);
	}
	.col-md-7{
		width: calc(100% * 7 / 12);
	}
	.col-md-8{
		width: calc(100% * 8 / 12);
	}
	.col-md-9{
		width: calc(100% * 9 / 12);
	}
	.col-md-10{
		width: calc(100% * 10 / 12);
	}
	.col-md-11{
		width: calc(100% * 11 / 12);
	}
	.col-md-12{
		width: calc(100% * 12 / 12);
	}
}

@media screen and (max-width: 799px){
	.col-sm-1{
		width: calc(100% * 1 / 12);
	}
	.col-sm-2{
		width: calc(100% * 2 / 12);
	}
	.col-sm-3{
		width: calc(100% * 3 / 12);
	}
	.col-sm-4{
		width: calc(100% * 4 / 12);
	}
	.col-sm-5{
		width: calc(100% * 5 / 12);
	}
	.col-sm-6{
		width: calc(100% * 6 / 12);
	}
	.col-sm-7{
		width: calc(100% * 7 / 12);
	}
	.col-sm-8{
		width: calc(100% * 8 / 12);
	}
	.col-sm-9{
		width: calc(100% * 9 / 12);
	}
	.col-sm-10{
		width: calc(100% * 10 / 12);
	}
	.col-sm-11{
		width: calc(100% * 11 / 12);
	}
	.col-sm-12{
		width: calc(100% * 12 / 12);
	}

	.ab{
		margin: 62.25px 37.5px 45px 37.5px;
	}

	.container{
		width: 100%;
		padding: 0px;
		overflow: auto;
	}

	.name{
		padding: 18.75px;
		background-color: #96DCC7; 
	}

	h1{
		font-size: 31.5px;
		color: #FFFFFF;
		font-family: Microsoft JhengHei;
		font-weight: bold;
		line-height: 52.5px;
		letter-spacing: 3.75px;
		text-align: center;
	}

	.na{
		font-size: 31.5px;
		color: #FFFFFF;
		font-family: calibri;
		text-align: center;
	}

	.exright p{
		font-size: 13.5px;
		letter-spacing: 2.25px;
		float: left;
		display: block;
		padding-top: 1px;
	}

	h5{
		font-size: 13.5px;
		font-family: calibri;
		letter-spacing: 1px;
		display: block;
		float: none;
		clear: both;
	}

	.word{
		width: 100%;
		font-size: 13.5px;
		color: #5C5C5C;
		letter-spacing: 1px;
		font-family: 微軟正黑體;
		padding: 0px 0px 0px 0px;
	}

	.exleft{
		height: 270px;
	}

	.excircle{
		width: 18.75px;
		height: 18.75px;
		background-color: #96DCC7;
		border-radius: 50%;
		position: absolute;
		left: -7.5px;
	}

	.excircle1{
		width: 18.75px;
		height: 18.75px;
		background-color: #96DCC7;
		border-radius: 50%;
		position: absolute;
		top: 131.25px;
		left: -7.5px;
	}

	.excircle2{
		width: 18.75px;
		height: 18.75px;
		background-color: #96DCC7;
		border-radius: 50%;
		position: absolute;
		top: 258.75px;
		left: -7.5px;
	}

	td{
		color: #000000;
		font-size: 13.5px;
		font-family: 微軟正黑體;
		letter-spacing: 1px;
		padding: 5.25px 3.75px;
	}
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
}


