/*基本設定*/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/*row基本設定*/
.row:after{
	content: "";
	clear: both;
	display: block;
}

/*col基本設定*/
[class*="col-"]{
	width: 100%;
	float: left;
}

header{
	width: 100%;
	height: 60px;
	/*background-color:#ECF4F4;*/
	background: -webkit-linear-gradient(left,#8FBEA4,#ECF4F4);
	background: -o-linear-gradient(right,#8FBEA4,#ECF4F4);
	background: -moz-linear-gradient(right,#8FBEA4,#ECF4F4);
	background: linear-gradient(to right,#8FBEA4,#ECF4F4);
	margin: 8px 0px;
}

header p{
	color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	font-family: Trebuchet MS;
	letter-spacing: 2px;
	padding: 4px; 
	margin: 0px 3px;	
}

.photo {
	height: 350px;
    background-image: url(../image/bg03.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
	width: 80%;
	height: 1000px;
	margin: 0px auto;
	background-color: #FFFFFF;
}

.thumbnail{
	width: 100%;
	border: 1px solid #D9D9D9;
	padding: 10px;
	overflow: auto;
}

.thumbnail img{
	width: 100%;
	margin-bottom: 20px;
}

h3{
	color: #000000;
	font-size: 30px;
	font-family: calibri;
	text-align: center;
	margin: 10px 0px;
}

.thumbnail p{
	color: #6D6D6D;
	font-size: 18px;
	font-family: 微軟正黑體;
	text-align: center;
	margin: 5px 0px 10px 0px;
}

.btn2{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-color: #86C7CC;
	margin-top: 30px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: calibri;
	text-align: center;
	padding: 9px 0px;
	float: left;
	margin: 3px 0px 10px 5px;
}

.btn3{
	width: 100%;
	height: 40px;
	border: 1px solid #86C7CC;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin-top: 30px;
	color: #000000;
	font-size: 18px;
	font-family: calibri;
	text-align: center;
	padding: 9px 0px;
	float: left;
	margin: 3px 0px 10px 0px;
}

.gohome{
	width: 70px;
	height: 70px;
	border: 3px dotted #FFFFFF;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 48px;
	background-color: #9EAFAD;
	position: fixed;
	bottom: 30px;
	right: 30px; 
}

.gohome a{
	text-decoration: none;
	}

.fa-home{
	position: absolute;
	top: 8px;
	left: 10px;
}


@media screen and (min-width: 1000px){
	.col-md-1{
		width: calc(100% * 1 / 12);
	}
	.col-md-2{
		width: calc(100% * 2 / 12);
	}
	.col-md-3{
		width: calc(100% * 3 / 12);
	}
	.col-md-4{
		width: calc(100% * 4 / 12);
	}
	.col-md-5{
		width: calc(100% * 5 / 12);
	}
	.col-md-6{
		width: calc(100% * 6 / 12);
	}
	.col-md-7{
		width: calc(100% * 7 / 12);
	}
	.col-md-8{
		width: calc(100% * 8 / 12);
	}
	.col-md-9{
		width: calc(100% * 9 / 12);
	}
	.col-md-10{
		width: calc(100% * 10 / 12);
	}
	.col-md-11{
		width: calc(100% * 11 / 12);
	}
	.col-md-12{
		width: calc(100% * 12 / 12);
	}
}

@media screen and (max-width: 999px){
	.col-sm-1{
		width: calc(100% * 1 / 12);
	}
	.col-sm-2{
		width: calc(100% * 2 / 12);
	}
	.col-sm-3{
		width: calc(100% * 3 / 12);
	}
	.col-sm-4{
		width: calc(100% * 4 / 12);
	}
	.col-sm-5{
		width: calc(100% * 5 / 12);
	}
	.col-sm-6{
		width: calc(100% * 6 / 12);
	}
	.col-sm-7{
		width: calc(100% * 7 / 12);
	}
	.col-sm-8{
		width: calc(100% * 8 / 12);
	}
	.col-sm-9{
		width: calc(100% * 9 / 12);
	}
	.col-sm-10{
		width: calc(100% * 10 / 12);
	}
	.col-sm-11{
		width: calc(100% * 11 / 12);
	}
	.col-sm-12{
		width: calc(100% * 12 / 12);
	}

	.gohome{
		width: 100px;
		height: 100px;
		border: 3px dotted #FFFFFF;
		border-radius: 50%;
		color: #FFFFFF;
		background-color: #F9E411;
		clear: both;
		position: relative;
		top: 10px; 
		right: 0px;
		margin: 20px auto;
		font-size: 80px;
		color: #FFFFFF;
	}

	.fa-home{
		position: absolute;
		color: #FFFFFF;
		top: 8px;
		left: 10px;
	}


	
}