/*基本設定*/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/*row基本設定*/
.row:after{
	content: "";
	clear: both;
	display: block;
}

/*col基本設定*/
[class*="col-"]{
	width: 100%;
	float: left;
	/*border: 1px solid #E82D2D;*/
	/*padding: 0px 10px;*/
}


body{
	background-color: #F1F1F1;
	/*background-image: url(../image/bg01.jpg);*/
	background-size: contain;

}

.sign{
	/*width: 10px;
	height: 30px;
	background-color: #96DCC7;
	float: left;*/
	width: 10px;
    height: 30px;
    margin: 20px 20px;
    /*-webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);*/
    background: #96DCC7;
    float: left;
    position: relative;
}

.sign h2{
	color: #5C5C5C;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	top: -3px;
	left: 20px;
	white-space: nowrap;
}

table{
	margin: 80px 40px 40px 40px;
	/*border: 1px solid #BEBEBE;*/
}

td{
	/*border: 1px solid #BEBEBE;*/
	color: #000000;
	font-size: 20px;
	font-family: 微軟正黑體;
	letter-spacing: 2px;
	padding: 7px 10px;

}

.container{
	width: 70%;
	/*height: 1500px;*/
	margin: 0px auto;
	padding: 30px;
	background-color: #FFFFFF;
	overflow: auto;
	/*border: 1px dashed #737171;*/

}

/*article{
	width: 100%;
	height: 800px;
	background-color: #C38383;
}*/

.photo{
	width: 100%;
	/*height: 300px;*/
	/*border: 1px dashed #737171;*/
	/*background-image: url(../image/youai01.jpg);
	background-size: cover;
	border-radius: 220px;*/
	/*margin: 20px;*/
	/*float: left;*/
	/*display: inline-block;*/
	overflow: auto;
}

.photo img{
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	/*position: relative;
	top: 0px;
	left: 40px;*/
	/*height: 270px;*/
	/*border: 7px solid #96DCC7;
	border-radius: 50%;*/
	/*text-align: center;*/
	/*float: left;*/
}

.name{
	width: 100%;
	/*height: 300px;*/
	/*border: 1px dashed #737171;*/
	float: left;
	padding: 100px 30px;
	/*white-space:nowrap;*/
	/*background-color: #FFFFFF;*/
	/*display: inline-block;*/
}

h1{
	font-size: 32px;
	color: #5C5C5C;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	line-height: 48px;
	letter-spacing: 5px;
}

.en{
	font-size: 28px;
	color: #5C5C5C;
	font-family: calibri;
}

/*.name p{
	color: #7B7B7B;
	font-size: 24px;
}*/

.information{
	width: 100%;
	/*height: 300px;*/
	/*border: 1px dashed #737171;*/
	float:left;
	/*background-color: #FFFFFF;*/
	overflow: auto;
}

.aboutme{
	width: 100%;
	/*height: 400px;*/
	/*background-color: #FFFFFF;*/
	float: left;
	/*border: 1px dashed #737171;*/
	overflow: auto; 
}

.ab{
	/*width: 100%;
	height: 400px;
	background-color:#DC9797;
	border: 1px dashed #737171;*/
	margin: 83px 95px 60px 83px;
}

.aboutme p{
	font-size: 20px;
	color: #000000;
	letter-spacing: 3px;
	font-family: 微軟正黑體;
	/*margin: 82px 70px 40px 85px;*/
	/*overflow: auto;*/
	/*font-weight: bolder;*/
	/*margin: 80px 40px;*/
}

.education{
	width: 100%;
	/*height: 400px;*/
	/*background-color: #FFFFFF;*/
	float: left;
	/*border: 1px dashed #737171;*/
	/*line-height: 36px;*/
	overflow: auto;
}

.ed{
	margin: 80px 50px;
}

h3{
	font-size: 22px;
	color: #000000;
	font-family: calibri;
	/*font-weight: bold;*/
	letter-spacing: 1px;
}

.ed p{
	font-size: 20px;
	color: #000000;
	letter-spacing: 5px;
	font-family: 微軟正黑體;
	font-weight: bolder;
}

/*hr{
	border: 1px dotted #96DCC7;
}*/

.experience{
	width: 100%;
	/*height: 500px;*/
	/*background-color: #E0E0E0;*/
	float: left;
	/*border: 1px dashed #737171;*/
	overflow: auto;

}

.exleft{
	width: 5px;
	height: 300px;
	background-color: #96DCC7;
	position: relative;
	top: 80px;
	/*left: 50px;*/
	float: left; 
}

.excircle{
	width: 25px;
	height: 25px;
	background-color: #96DCC7;
	border-radius: 50%;
	position: absolute;
	left: -10px;
}

.excircle1{
	width: 25px;
	height: 25px;
	background-color: #96DCC7;
	border-radius: 50%;
	position: absolute;
	top: 150px;
	left: -10px;
}

.excircle2{
	width: 25px;
	height: 25px;
	background-color: #96DCC7;
	border-radius: 50%;
	position: absolute;
	top: 300px;
	left: -10px;
}

.exright{
	width: 71%;
	/*height: 400px;*/
	/*background-color:#DC9797;*/
	/*border: 1px dashed #737171;*/
	float: left;
	margin: 78px 0px 0px 30px; 
}

.exright p{
	font-size: 20px;
	color: #000000;
	letter-spacing: 5px;
	font-family: 微軟正黑體;
	font-weight: bolder;
	display: inline-block;
	vertical-align: bottom;
}

h5{
	font-size: 22px;
	color: #000000;
	font-family: calibri;
	/*font-weight: bold;*/
	letter-spacing: 1px;
	float: right;
	display: inline-block;
	vertical-align: bottom;
}

.word{
	width: 100%;
	height: 125px;
	font-size: 20px;
	color: #5C5C5C;
	letter-spacing: 1px;
	font-family: 微軟正黑體;
	font-weight: bolder;
	padding: 10px 0px 0px 0px;
	/*border: 1px solid #E46767;*/
}

.skills{
	width: 100%;
	/*height: 500px;*/
	/*background-color: #E0E0E0;*/
	float: left;
	/*border: 1px dashed #737171;*/
	/*padding-bottom: 100px;*/
	margin-bottom: 40px;
	overflow: auto;
}

.skills td{
	/*border: 1px solid #BEBEBE;*/
	color: #000000;
	font-size: 20px;
	font-family: 微軟正黑體;
	letter-spacing: 2px;
	padding: 0px 10px 25px 10px;

}

.box{
	width: 100%;
	height: 20px;
	background-color: #FFFFFF;
	border: 1px solid #96DCC7;
	margin: 0px 20px;
}

.box0{
	width: 50%;
	height: 12px;
	background-color: #96DCC7;
	margin: 2px 0px 2px 3px;
}

.box1{
	width: 70%;
	height: 12px;
	background-color: #96DCC7;
	margin: 2px 0px 2px 3px;
}

.box2{
	width: 90%;
	height: 12px;
	background-color: #96DCC7;
	margin: 2px 0px 2px 3px;
}

.box3{
	/*width: 30;
	height: 30;*/
	margin: 0px 20px;
	/*display: inline-block;*/
}

.button{
	width: 80px;
	border-radius: 10px;
	background-color: #96DCC7;
	color: #FFFFFF;
	text-align: center;
	margin-left: 10px;
	display: inline-block;
}

#show{
	width: 
}

.achievement img{
	width: 50%;
	display: block;
	margin: auto;
	opacity: 0.5;
	/*height: 200px;*/
	
	/*height: 200px;
	background-color: #E02D2D;*/
}

.achievement img:hover{
	animation-play-state: paused;
	opacity: 1;
}

.portfolio img{
	width: 50%;
	display: block;
	margin: auto;
	opacity: 0.5;
	/*background-color: #7BB194;
	height: 200px;*/
}

.portfolio img:hover{
	animation-play-state: paused;
	opacity: 1;
}

.others img{
	width: 50%;
	display: block;
	margin: auto;
	opacity: 0.5;
	/*background-color: #20A8CC;
	height: 200px;*/
}

.others img:hover{
	animation-play-state: paused;
	opacity: 1;
}


footer{
	width: 100%;
	height: 200px;
}

@media screen and (min-width: 1500px){
	.col-md-1{
		width: calc(100% * 1 / 12);
	}
	.col-md-2{
		width: calc(100% * 2 / 12);
	}
	.col-md-3{
		width: calc(100% * 3 / 12);
	}
	.col-md-4{
		width: calc(100% * 4 / 12);
	}
	.col-md-5{
		width: calc(100% * 5 / 12);
	}
	.col-md-6{
		width: calc(100% * 6 / 12);
	}
	.col-md-7{
		width: calc(100% * 7 / 12);
	}
	.col-md-8{
		width: calc(100% * 8 / 12);
	}
	.col-md-9{
		width: calc(100% * 9 / 12);
	}
	.col-md-10{
		width: calc(100% * 10 / 12);
	}
	.col-md-11{
		width: calc(100% * 11 / 12);
	}
	.col-md-12{
		width: calc(100% * 12 / 12);
		padding: 20px;
	}
}

@media screen and (max-width: 1499px){
	.col-sm-1{
		width: calc(100% * 1 / 12);
	}
	.col-sm-2{
		width: calc(100% * 2 / 12);
	}
	.col-sm-3{
		width: calc(100% * 3 / 12);
	}
	.col-sm-4{
		width: calc(100% * 4 / 12);
	}
	.col-sm-5{
		width: calc(100% * 5 / 12);
	}
	.col-sm-6{
		width: calc(100% * 6 / 12);
	}
	.col-sm-7{
		width: calc(100% * 7 / 12);
	}
	.col-sm-8{
		width: calc(100% * 8 / 12);
	}
	.col-sm-9{
		width: calc(100% * 9 / 12);
	}
	.col-sm-10{
		width: calc(100% * 10 / 12);
	}
	.col-sm-11{
		width: calc(100% * 11 / 12);
	}
	.col-sm-12{
		width: calc(100% * 12 / 12);
	}

	.ab{
		margin: 83px 50px 60px 50px;
		/*margin: 83px 63px 60px 83px;*/ 
	}

	.container{
		width: 100%;
		/*height: 1500px;*/
		/*margin: 0px auto;
		background-color: #FFFFFF;*/
		padding: 0px;
		overflow: auto;
	}

	.name{
		padding: 25px;
		background-color: #96DCC7; 
	}

	h1{
		font-size: 42px;
		color: #FFFFFF;
		font-family: Microsoft JhengHei;
		font-weight: bold;
		line-height: 70px;
		letter-spacing: 5px;
		text-align: center;
	}

	.en{
		font-size: 42px;
		color: #FFFFFF;
		font-family: calibri;
		text-align: center;
	}

	exright p{
		/*width: 100%;*/
		font-size: 18px;
		letter-spacing: 3px;
		float: left;
		display: block;
	}

	h5{
		font-size: 18px;
		font-family: calibri;
		letter-spacing: 1px;
		display: block;
		float: none;
	}

	.word{
		width: 100%;
		font-size: 18px;
		color: #5C5C5C;
		letter-spacing: 1px;
		font-family: 微軟正黑體;
		/*font-weight: bolder;*/
		padding: 0px 0px 0px 0px;
		/*border: 1px solid #E46767;*/
	}

	.exleft{
		height: 360px;
	}

	.excircle{
		width: 25px;
		height: 25px;
		background-color: #96DCC7;
		border-radius: 50%;
		position: absolute;
		left: -10px;
	}

	.excircle1{
		width: 25px;
		height: 25px;
		background-color: #96DCC7;
		border-radius: 50%;
		position: absolute;
		top: 175px;
		left: -10px;
	}

	.excircle2{
		width: 25px;
		height: 25px;
		background-color: #96DCC7;
		border-radius: 50%;
		position: absolute;
		top: 345px;
		left: -10px;
	}

	td{
		/*border: 1px solid #BEBEBE;*/
		color: #000000;
		font-size: 18px;
		font-family: 微軟正黑體;
		letter-spacing: 1px;
		padding: 7px 5px;
	}


}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
}


